.carousal-con {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;
}

.carousal-con>.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-right: 20px;
    width: 100%;
}

.carousal-con .carousal-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    /* border: 1px solid red; */
}






.carousal-con .buttons .prev,
.carousal-con .buttons .next {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--carousel-btns);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s linear;
    cursor: pointer;
}

.carousal-con .buttons .prev:hover,
.carousal-con .buttons .next:hover {
    background-color: var(--carousel-btns-hvr);
}

@media screen and (max-width: 800px) {
    .carousal-con>.buttons {
        position: fixed;
        padding: 0px 0px 15px 0px;
        bottom: 0;
        left: 0;
        justify-content: space-evenly;
    }

    .carousal-con .buttons .prev,
    .carousal-con .buttons .next {
        background-color: rgb(255, 255, 255);
    }
}