@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

* {
    --edu-box-width: 450px;
    --edu-box-height: 180px;
}

.edu-item-con {
    position: relative;
    width: var(--edu-box-width);
    height: var(--edu-box-height);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform .5s linear;
}

.edu-item-con .content-con {
    width: calc(var(--edu-box-width) - 5px);
    height: calc(var(--edu-box-height) - 5px);
    border-radius: 10px;
    background-color: var(--dark-gray);
    position: relative;
    padding: 10px 10px 10px 20px;
    transition: background-color .3s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.edu-item-con::after, .edu-item-con::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--edu-box-width);
    height: var(--edu-box-height);
    border-radius: 10px;
    background: var(--gray02);
    opacity: .1;
    z-index: -1;
    transition: opacity .7s ease-out;
}

.edu-item-con .content-con .date {
    margin: 0;
    opacity: .6;
    transition: opacity .7s ease-out, color .3s ease-out;
    font-family: Orbitron;
    font-size: 16px;
    letter-spacing: 3px;
    color: var(--white);
}

.edu-item-con .content-con > .title {
    font-family: Questrial;
    font-size: 26px;
    opacity: .6;
    transition: opacity .7s ease-out;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-weight: 800;

}
.edu-item-con:hover {
    transform: scale(1.02);
}
.edu-item-con:hover:after, .edu-item-con:hover::before {
    opacity: .3;
    background: var(--gray02);
    animation: spin 5s linear infinite;
}

.edu-item-con::before {
    filter: blur(.5rem);
}


.edu-item-con:hover .content-con {
    background-color: var(--gray07);
}
.edu-item-con:hover .content-con .date {
    opacity: 1;
    color: var(--primary-green);
}
.edu-item-con:hover .content-con .title {
    opacity: 1;
}


.edu-item-con .content-con .company {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Questrial;
    opacity: .6;
    transition: opacity .7s ease-out;
    letter-spacing: 4px;
}
.edu-item-con .content-con .company > .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color .3s ease-out;
}

.edu-item-con .content-con .company > .title {
    font-size: 12px;
}

.edu-item-con:hover .content-con .company {
    opacity: .7;
}

.edu-item-con:hover .content-con .company .circle {
    background-color: var(--primary-green);
}

.edu-item-con .content-con .left-tringle {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 0;
    border-top: 80px solid transparent; /* Height of the triangle */
    border-right: 80px solid var(--primary-green);   /* Base of the triangle and its color */
    border-bottom: 0px solid transparent; /* Symmetric to top */
    border-bottom-right-radius: 10px;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.edu-item-con:hover .content-con .left-tringle {
    opacity: 1;
}

@keyframes spin {
    from {
        --angle: -0deg;
    }

    to {
        --angle: 360deg;
    }
}




/* ----------------------------------------------------- */
/* ---------------------- Ribbon ----------------------- */
/* ----------------------------------------------------- */



/* HTML: <div class="ribbon">Your text content</div> */
[dir="ltr"] .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -42px;
    margin-top: -20px;
    font-size: 22px;
    font-weight: normal;
    color: transparent;
    font-family: Poppins;
    letter-spacing: 6px;
  }
[dir="ltr"] .ribbon {
    --s: 1em; /* the ribbon size */
    --d: .8em;  /* the depth */
    --c: .8em;  /* the cutout part */
    
    padding: 0 calc(var(--s) + .5em) var(--d) var(--c);
    line-height: 1.8;
    background: conic-gradient(at right var(--s) bottom var(--d),#0004 62.5%,#0008 0 75%,#0000 0);
    clip-path: polygon(var(--c) 0,  calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),var(--c) calc(100% - var(--d)),0 calc(50% - var(--d)/2));
    background-color: var(--gray07); /* the main color */
    width: fit-content;
    transition: background-color .7s ease-out;
  }

  .edu-item-con:hover .ribbon {
    background-color: var(--primary-green);
  }

  @media screen and (max-width: 1200px) {
    * {
        --edu-box-width: 390px;
        --edu-box-height: 180px;
    }
 }

 @media screen and (max-width: 1000px) {
    * {
        --edu-box-width: 320px;
        --edu-box-height: 150px;
    }

    .edu-item-con .content-con .date {
        font-size: 12px;
    }
    
    .edu-item-con .content-con > .title {
        font-size: 20px;
        letter-spacing: 2px;
    }
 }

 @media screen and (max-width: 800px) {
    * {
        --edu-box-width: 420px;
        --edu-box-height: 180px;
    }

    .edu-item-con .content-con .date {
        font-size: 16px;
    }
    
    .edu-item-con .content-con > .title {
        font-size: 26px;
        letter-spacing: 4px;
    }
  }

  @media screen and (max-width: 550px) {
    * {
        --edu-box-width: 340px;
        --edu-box-height: 160px;
    }
   
    .edu-item-con .content-con .date {
        font-size: 16px;
        letter-spacing: 5px;
        margin-top: 10px;
        opacity: 1;
    
    }
    
    .edu-item-con .content-con .title {
        font-size: 22px;
        letter-spacing: 4px;
        opacity: 1;
    }

    .edu-item-con .content-con .company > .circle {
        width: 6px;
        height: 6px;
    }

    .edu-item-con .content-con .company > .title {
        font-size: 10px;
        letter-spacing: 3px;
    }
  }

  @media screen and (max-width: 400px) {
    * {
        --edu-box-width: 250px;
        --edu-box-height: 160px;
    } .ribbon {
        --s: .7em;
    }
    .edu-item-con .content-con .date {
        font-size: 20px;
    
    }
    .edu-item-con .content-con .title {
        font-size: 14px;
    }
    .edu-item-con .content-con .company > .title {
        font-size: 10px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 300px) {
    * {
        --edu-box-width: 200px;
        --edu-box-height: 200px;
    }.edu-item-con .content-con .date {
        font-size: 18px;
    
    }
    .edu-item-con .content-con .title {
        font-size: 16px;
    }

    .edu-item-con .content-con .company > .title {
        font-size: 8px;
    }
}

[dir="rtl"] .ribbon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -42px;
  margin-top: -20px;
  font-size: 22px;
  font-weight: normal;
  color: transparent;
  font-family: Poppins;
  letter-spacing: 6px;

  --s: 1em;
  --d: .8em;
  --c: .8em;

  padding: 0 var(--c) var(--d) calc(var(--s) + .5em);
  line-height: 1.8;

  /* gradient mirrored horizontally */
  background: conic-gradient(at left var(--s) bottom var(--d), #0004 62.5%, #0008 0 75%, #0000 0);

  /* mirrored clip-path */
  clip-path: polygon(
    calc(100% - var(--c)) 0,
    calc(var(--s)) 0,
    calc(var(--s)) var(--d),
    0 var(--d),
    var(--c) calc(50% + var(--d)/2),
    0 100%,
    calc(var(--s) + var(--d)) 100%,
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(100% - var(--c)) calc(100% - var(--d)),
    100% calc(50% - var(--d)/2)
  );

  background-color: var(--gray07);
  width: fit-content;
  transition: background-color .7s ease-out;
}



[lang="ar"] .edu-item-con .content-con .date,
[lang="ar"] .edu-item-con .content-con .title,
[lang="ar"] .edu-item-con .content-con .company {
    font-family: "Cairo";
}

[lang="ur"] .edu-item-con .content-con .date,
[lang="ur"] .edu-item-con .content-con .title,
[lang="ur"] .edu-item-con .content-con .company {
    font-family: "Noto Nastaliq Urdu";
}