.image-wrapper {
    position: relative;
    width: 90%;
    height: 70%;
    overflow: hidden;
  }
  
  .image-placeholder {
    width: 100%;
    height: 100%;
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .image-placeholder.light {
      background: linear-gradient(
        90deg,
        #e0e0e0 0%,
        #c0c0c0 50%,
        #e0e0e0 100%
      );
      background-size: 200% 100%;
      animation: shimmer 3s infinite linear;
    }
    .image-placeholder.dark {
      background: linear-gradient(
        90deg,
        #303030 0%,
        #505050 50%,
        #303030 100%
      );
      background-size: 200% 100%;
      animation: shimmer 3s infinite linear;
    }

  
  .image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-error {
    display: block;
    padding: 10px;
    color: red;
    font-size: 0.9rem;
    text-align: center;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  