.button-con {
    background-color: var(--primary-green);
    width: 100%;
    height: 50px;
    border: 1px solid var(--primary-green);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Protest Riot';
    color: var(--black);
    letter-spacing: 3px;
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear;
}

.button-con:hover {
    border: 1px solid var(--primary-green);
    background-color: var(--black);
    color: var(--primary-green);
}