:root {
  --primary-green: #00E96C;
  /* --primary-green: #55e900; */
  /* --primary-green: #e1ff00; */
  /* --primary-green: #40ffff; */
  /* --primary-green: #f540ff; */
  --light-green: '';
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #191919;
  --gray07: #232323;
  --gray061: #3b3b3b;
  --gray06: #686868;
  --gray02: #DFDFDF;
  --nav-svgs: #bcbcbc;
  --left-triangle: rgb(43, 43, 43);
  --skill-item-border: rgb(48, 48, 48);
  --mobile-nav-bg: rgb(40, 40, 40);
  --carousel-btns: rgb(162, 162, 162);
  --carousel-btns-hvr: rgb(255, 255, 255);
  --contact-form-bg: #2B2A2A;
  --input-bg: #0c0c0c;
  --cursor-fill: #ffffff20;
  --theme-switcher: #9dd4ff;
  --loader-bg: rgba(0, 0, 0, 0.515);
  --background-image: url("./assets/images/bg-green.svg");
  --background-image-mob: url("./assets/images/bg-green-mob.svg");
}

[data-theme="light"] {
  --primary-green: #009c49;
  --black: #ffffff;
  --white: #000000;
  --nav-svgs: #3e3e3e;
  --gray061: #b9b9b9;
  --gray02: #2c2c2c;
  --dark-gray: #f2f2f2;
  --gray07: #e7e7e7;
  --left-triangle: rgb(189, 189, 189);
  --skill-item-border: rgb(198, 198, 198);
  --mobile-nav-bg: rgb(211, 211, 211);
  --carousel-btns: #07b95a;
  --carousel-btns-hvr: #08a04f;
  --contact-form-bg: #e3e3e3;
  --input-bg: #d3d3d3;
  --cursor-fill: #f2f2f200;
  --loader-bg: rgba(255, 255, 255, 0.434);
  --background-image: url("./assets/images/bg-light.svg");
  --background-image-mob: url("./assets/images/bg-light-mob.svg");
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--white);
  background: var(--black);
  overflow-y: auto;
  /* background: linear-gradient(137deg, rgba(22, 22, 22, 1) 34%, rgba(29, 29, 29, 1) 70%,rgb(39, 28, 28) 83%, rgb(62, 45, 45) 96%); */
  /* background: linear-gradient(137deg, rgba(22, 22, 22, 1) 34%, rgba(29, 29, 29, 1) 70%,rgb(42, 39, 39) 83%, rgb(58, 54, 54) 96%); */

  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container>div {
  text-align: center;
}

.error-container>div>h1 {
  font-size: 7rem;
  margin: 0;
}

.error-container>div>h3 {
  font-size: 2rem;
  margin: 0;
}

@keyframes expand-line {
  0% {
    width: 0;
    /* Start with 0 width */
  }

  100% {
    width: 100%;
    /* Expand to full width */
  }
}



::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
  outline: 1px solid var(--primary-green);
}


.error-body {
  background-color: #000000;
  background-image: radial-gradient(#11581e, #041607),
    url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inconsolata", Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex rgba(51, 255, 51, 1), 0 0 2px rgba(255, 255, 255, 0.8);
}


.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(32, 128, 32, 0.2) 2%,
    rgba(32, 128, 32, 0.8) 3%,
    rgba(32, 128, 32, 0.2) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
  animation: scan 4s linear 0s infinite;
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}

.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}

/*
.input {
  color: rgba(192, 255, 192, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}
*/

.output > .error-link {
  color: #fff;
  text-decoration: none;
}

.output > .error-link::before {
  content: "[";
}

.output > .error-link::after {
  content: "]";
}

.errorcode {
  color: white;
}

.underscore::before {
  content: "> ";
}
.underscore::after {
  content: '_';
  font-size: 35px;
  margin-top: -20px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}









@media screen and (max-width: 400px) {
  body {
    background-image: var(--background-image-mob);
  }
}