:root {
  --primary-green: #00E96C;
  --light-green: '';
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #191919;
  --gray07: #232323;
  --gray061: #3b3b3b;
  --gray06: #686868;
  --gray02: #DFDFDF;
  --nav-svgs: #bcbcbc;
  --left-triangle: rgb(43, 43, 43);
  --skill-item-border: rgb(48, 48, 48);
  --mobile-nav-bg: rgb(40, 40, 40);
  --carousel-btns: rgb(162, 162, 162);
  --carousel-btns-hvr: rgb(255, 255, 255);
  --contact-form-bg: #2B2A2A;
  --input-bg: #0c0c0c;
  --cursor-fill: #ffffff20;
  --theme-switcher: #9dd4ff;
  --loader-bg: rgba(0, 0, 0, 0.515);
  --background-image: url("./assets/images/bg-green.svg");
  --background-image-mob: url("./assets/images/bg-green-mob.svg");
}

[data-theme="light"] {
  --primary-green: #087a3d;
  --black: #ffffff;
  --white: #000000;
  --nav-svgs: #3e3e3e;
  --gray061: #b9b9b9;
  --gray02: #2c2c2c;
  --dark-gray: #f2f2f2;
  --gray07: #e7e7e7;
  --left-triangle: rgb(189, 189, 189);
  --skill-item-border: rgb(198, 198, 198);
  --mobile-nav-bg: rgb(211, 211, 211);
  --carousel-btns: #07b95a;
  --carousel-btns-hvr: #087a3d;
  --contact-form-bg: #e3e3e3;
  --input-bg: #d3d3d3;
  --cursor-fill: #f2f2f200;
  --loader-bg: rgba(255, 255, 255, 0.434);
  --background-image: url("./assets/images/bg-light.svg");
  --background-image-mob: url("./assets/images/bg-light-mob.svg");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--white);
  background: var(--black);
  overflow-y: auto;
  /* background: linear-gradient(137deg, rgba(22, 22, 22, 1) 34%, rgba(29, 29, 29, 1) 70%,rgb(39, 28, 28) 83%, rgb(62, 45, 45) 96%); */
  /* background: linear-gradient(137deg, rgba(22, 22, 22, 1) 34%, rgba(29, 29, 29, 1) 70%,rgb(42, 39, 39) 83%, rgb(58, 54, 54) 96%); */
  /* background-image: url("./assets/images/background.svg"); */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container > div {
  text-align: center;
}

.error-container > div > h1 {
  font-size: 7rem;
  margin: 0;
}
.error-container > div > h3 {
  font-size: 2rem;
  margin: 0;
}

@keyframes expand-line {
  0% {
    width: 0; /* Start with 0 width */
  }
  100% {
    width: 100%; /* Expand to full width */
  }
}



::-webkit-scrollbar {
  width: 2px;
}

 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color:  var(--primary-green);
  outline: 1px solid var(--primary-green);
}

@media screen and (max-width: 400px) {
  body {
    background-image: var(--background-image-mob);
  }
}