button {
    all: unset;
}
.tt-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    margin: 25px 25px 0px 25px;
    z-index: 11;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    background-color: transparent;
    transition: background-color .3s linear;
    animation: rotate .3s linear forwards;
}

[dir="rtl"] .tt-container {
    left: 0;
    right: auto;
}

.tt-container.dark {
    background-color:  #6f7071 ;
}
.tt-container.light {
    background-color: #8fd8ff;
}

@media screen and (max-width: 550px) {
    [dir="rtl"] .tt-container,
    .tt-container {
        left: 0;
        right: auto;
        width: 35px;
        height: 35px;
        margin: 30px 0px 0px 25px;
        font-size: 18px;
    }
 }


 @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }