.ci-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.ci-container .icon-con {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contact-form-bg);
    flex-shrink: 0;
    flex-grow: 0;
}

.ci-container .icon-con svg:not(.icon-location) path {
    stroke: var(--white);
}

.ci-container .icon-con svg.icon-location path {
    fill: var(--white);
}

.ci-container .text-con {
    font-family: Questrial;
    letter-spacing: 2px;
}

.ci-container .text-con .label {
    opacity: .6;
    font-size: 14px;
}

.ci-container .text-con .value {
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    .ci-container .text-con {
        text-wrap-mode: reset;
        text-wrap: wrap;
     }
 }
