.resume-container {
    min-height: 100vh;
    padding: 8% 5% 0% 15%;
    opacity: 0;
    animation: fade 1s ease-out forwards
}

.resume-container .screen-title {
    font-family:'Protest Riot';
    font-size: 72px;
    letter-spacing: 8px;
    margin: 0px;
    color: var(--primary-green);
}

.tab-screen-con {
    opacity: 0;
    animation: fade 1.3s ease-out forwards
}

.tab-screen-con > .descriptiion {
    width: 40%;
    font-size: 12px;
    font-family: Poppins;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 22px;
}

.tab-screen-con > .experience-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    margin-top: 3%;
}

.tab-screen-con > .education-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    margin-top: 3%;
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
