.resume-container {
    height: 100vh;
    padding: 5rem 5% 5% 15%;
    opacity: 0;
    overflow-y: hidden;
    animation: fade 1s ease-out forwards;
}

.resume-container .resume-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    min-height: 10vh;
}

.resume-container .resume-header .screen-title {
    font-family: 'Protest Riot';
    font-size: 72px;
    letter-spacing: 16px;
    margin: 0px;
    margin-top: -10px;
    color: var(--primary-green);
}

.resume-container .resume-header {
    text-decoration: none;
}

.resume-container .resume-header .pdf-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 5px;

}

.resume-container .resume-header .pdf-logo::after {
    content: 'Download PDF';
    font-family: Poppins;
    font-style: italic;
    font-size: 8px;
    text-align: center;
    color: var(--primary-green);
    width: 100px;
    height: 20px;
}

.resume-container .resume-header img {
    width: 30px;
    height: 30px;
}

.tab-screen-con {
    opacity: 0;
    max-height: 65vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-bottom: 50px;
    animation: fade 1.3s ease-out forwards
}

.tab-screen-con>.descriptiion {
    width: 75%;
    font-size: 13px;
    font-family: Poppins;
    font-weight: normal;
    /* letter-spacing: 3px; */
    line-height: 22px;
    opacity: .8;
    transition: opacity .3s linear;
    color: var(--white);
}

.tab-screen-con .descriptiion.about-desc {
    opacity: 1;
}

.tab-screen-con .descriptiion.others-desc {
    width: 50%;
    font-size: 16px;
    font-family: Poppins;
    line-height: 25px;
    text-align: left;
}

.tab-screen-con .about-header {
    background-color: var(--primary-green);
    padding: 2px 10px;
    color: var(--black);
    letter-spacing: 2px;
    border-radius: 5px;
    width: fit-content;
}

.tab-screen-con>.descriptiion:hover {
    opacity: 1;
}

.tab-screen-con>.experience-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    margin-top: 3%;
}

.tab-screen-con>.education-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    margin-top: 3%;
}

.tab-screen-con .skills-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 5%;
    margin-top: 1%;
    width: 80%;
    /* max-height: 50vh;
    overflow-y: auto; */
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 1200px) {
    .resume-container {
        padding: 5rem 0% 3% 20%;
    }

    .tab-screen-con>.descriptiion.others-desc {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .tab-screen-con>.descriptiion.others-desc {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .tab-screen-con {
        padding-left: 0px;
    }

    .tab-screen-con>.descriptiion {
        width: 90%;
        text-align: center;
    }

    .tab-screen-con>.experience-items {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .tab-screen-con>.education-items {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .tab-screen-con .skills-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px 5%;
        margin-top: 1%;
        width: 100%;
        padding: 3% 3%;
        /* max-height: 50vh;
        overflow-y: auto; */
    }
}

@media screen and (max-width: 550px) {
    .resume-container {
        padding: 5rem 1% 3% 1%;
    }

    .tab-screen-con>.descriptiion {
        width: 100%;
        text-align: center;
        padding: 0px 5%;
        opacity: 1;
    }

    .tab-screen-con>.descriptiion.others-desc {
        width: 100%;
        padding: 0px 5%;
    }

    .tab-screen-con>.about-header {
        padding: 0px 5%;
    }

    .tab-screen-con>.experience-items {
        grid-template-columns: 1fr;
        width: 95%;
        margin-top: 5%;
        justify-items: center;
    }

    .tab-screen-con>.education-items {
        grid-template-columns: 1fr;
        width: 95%;
        margin-top: 5%;
        justify-items: center;
    }

    .resume-container .resume-header {
        justify-content: center;
        column-gap: 5px;
    }

    .resume-container .resume-header .screen-title {
        text-align: center;
        font-size: 35px;
    }
}