.services-container {
    width: 100%;
    height: 100vh;
    padding: 5rem 5% 0% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: fade 1s ease-out forwards
}

.services-container .services-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    /* margin-left: 5%; */
    margin-top: 3rem;
}

.services-container > h1 {
    position: relative;
    font-family:'Protest Riot';
    font-size: 72px;
    letter-spacing: 16px;
    margin: 0px;
    color: var(--primary-green);
    margin-left: 0%;
    margin-top: -10rem;
    z-index: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .services-container {
        padding: 5rem 2% 0% 18%;
    }
 }

 @media screen and (max-width: 1200px) {
    .services-container {
        padding: 5rem 0% 0% 20%;
    }
 }

 @media screen and (max-width: 800px) {
    .services-container > h1 {
        font-size: 55px;
    }
    .services-container {
        padding: 15rem 0% 0% 20%;
    }
    .services-container .services-items {
        padding: 4% 0% 4% 0%;;
        grid-template-columns: 1fr;
        width: 100%;
        overflow-y: auto;
        margin-top: 0rem;
        justify-items: center;
    }
 }

 @media screen and (max-width: 550px) { 
    .services-container > h1 {
        font-size: 35px;
        text-align: center;
        width: 100%;
     }
    .services-container {
        padding: 15rem 0% 0% 0%;
    }
    .services-container .services-items {
        padding: 6% 0% 8% 0%;
     }
 }


 [dir="rtl"] .services-container {
    padding: 5rem 15% 0% 5%;
 }

 [lang="ar"] .services-container > h1 { 
    font-family: "Cairo";
  }
 [lang="ur"] .services-container > h1 { 
    font-family: "Noto Nastaliq Urdu";
  }