.services-container {
    width: 100%;
    min-height: 100vh;
    padding: 0% 5% 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: fade 1s ease-out forwards
}

.services-container .services-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 3rem;
    margin-left: 5%;
    margin-top: 5rem;
}

.services-container > h1 {
    font-family:'Protest Riot';
    font-size: 72px;
    letter-spacing: 8px;
    margin: 0px;
    color: var(--primary-green);
    margin-left: 5%;
    margin-top: -10rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
