.detail-container {
    min-height: 100vh;
    padding: 5rem 0% 5% 0%;
    opacity: 0;
    animation: fade 1s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-container .content {
    background-color: var(--gray061);
    width: 50%;
    padding: 20px 40px;
    border-radius: 20px;
}

.detail-container .content .image-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-container .content .image-con .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.detail-container .content .h1 {
    margin: 60px 0px 30px 0px;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: 'Protest Riot';
}

.detail-container .content .h2 {
    margin-top: 4rem;
}  

.detail-container .content .h3 {
    margin-top: 2.5rem;
}   

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 1300px) {
    .detail-container .content {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .detail-container .content {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {

    .detail-container .content .image-con .image {
        width: 120%;
        height: 250px;

    }

    .detail-container .content {
        width: 90%;
        padding: 20px 20px;
    }

    .detail-container .content .h1 {
        font-size: 1.8rem;
    }

}