.work-container {
    min-height: 100vh;
    padding: 8% 5% 0% 15%;
    opacity: 0;
    animation: fade 1s ease-out forwards
}

.work-container .screen-title {
    font-family:'Protest Riot';
    font-size: 72px;
    letter-spacing: 16px;
    margin: 0px;
    color: var(--primary-green);
}

.work-container > .work-items {
    width: 75%;
}




@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
