.select-container {
    position: relative;
    width: 100%;
  }
  
  .select-container > .hidden {
    /* display: none; */
  }
  .select-box {
    position: relative;
    padding: 10px 11px;
    border: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-bg);
    background-color: var(--input-bg);
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    margin: 15px 0px;
    transition: border-color .3s linear;
    display: flex;
    align-items: center;
  }

  .select-box.open {
    border-color: var(--primary-green);
  }

  .select-box.placeholder {
    font-family: Questrial;
    letter-spacing: 3px;
    font-size: 16px;
    color: rgb(140, 140, 140);
  }

  .select-container .error {
    color: rgb(255, 81, 81);
    font-size: 12px;
    margin-left: 10px;
}

 [dir="ltr"] .select-box::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 6px solid transparent; /* Height of the triangle */
    border-right: 8px solid rgb(100, 100, 100);   /* Base of the triangle and its color */
    border-bottom: 6px solid transparent;
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    /* margin-top: 4px; */
    margin-right: 20px;
    transform: rotate(90deg);
    transition: transform .2s ease-in;
  }
  
  .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    /* min-height: 100px; */
    width: 80%;
    background-color: var(--black);
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(65, 65, 65, 0.952);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
    z-index: 10;
    font-family: Questrial;
  }
  
  .options-container.open {
    opacity: 1;
    visibility: visible;
    transform:  translateY(0);
    color: var(--nav-svgs);
  }

  .open.select-box::after {
    border-right: 8px solid var(--primary-green);
    transform:  rotate(270deg);

  }

  .options-container > p {
    font-family: Questrial;
    color: var(--black);
    text-align: center;
  }

  
  .option {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #2c2c2c;
    transition: background-color 0.2s;
    border-radius: 4px;
  }
  
  .option:hover {
    background-color: var(--primary-green);
    color: var(--black);
  }
  
  .option:last-child {
    border-bottom: none;
  }

[dir="rtl"] .select-box::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 6px solid transparent; /* Height of the triangle */
    border-right: 8px solid rgb(100, 100, 100);   /* Base of the triangle and its color */
    border-bottom: 6px solid transparent;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 0;
    /* margin-top: 4px; */
    margin-left: 20px;
    transform: rotate(90deg);
    transition: transform .2s ease-in;
  }


[lang="ar"] .options-container ,
[lang="ar"] .select-box.placeholder {
    font-family: "Cairo";
 }

[lang="ur"] .options-container,
[lang="ur"] .select-box.placeholder {
    font-family: "Noto Nastaliq Urdu";
 }