.if-container {
    height: 50px;
    width: 100%;
    border-radius: 7px;
    background-color: none;
    padding: 1px;
    margin: 15px 0px;
    transition: background-color .3s linear;
}

.if-container > input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: whitesmoke;
    background-color: rgb(12, 12, 12);
    border-radius: 7px;
    border: none;
    outline: none;
    font-family: Questrial;
    letter-spacing: 1px;
    font-size: 16px;
}

.if-container .error {
    color: rgb(255, 81, 81);
    font-size: 12px;
    margin-left: 10px;
}

.if-container > input::placeholder {
    letter-spacing: 3px;

}

.if-container:has(input:focus){
    background-color: var(--primary-green);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* .if-container > input:focus {
    outline: none;
} */